<nav>
<div class="wrapper--flex">
	<div class="title">
	</div>
		<div class="wrapper wrapper--flex">
			<a href="#" class="logo">
				<p>Donovan Bailey</p>
			</a>
			<ul class="wrapper--flex menu--main">
				<li><a href="#about">Foundation</a></li>
				<li><a href="#services">Athlete Story</a></li>
				<li><a href="#contact">Bailey Inc.</a></li>
				<li><a href="#request">Contact</a></li>
				<li><a href="#about">FB</a></li>
				<li><a href="#services">TW</a></li>
			</ul>
		</div>		
	</div>
</nav>

<header>
	<div class="background-image" style="background-image: url('http://lorempixel.com/900/900/sports/')">
		<div class="wrapper header--wrapper">
			<a href="#">
				<div class="blue-half-circle">
					<p>Book Donovan</p>
				</div>
			</a>
			<div class="header--text">
				<h2>One of the world's all-time greatest and most dominant sprinting legends</h2>
			</div>
		</div>
		<div class="lower-nav">
			<div class="lower-nav--content wrapper--flex ">
				<p>His foundation</p>
				<div class="red-half-circle">
					<p>Donovan Bailey</p>
				</div>
				<p>Social Gallery</p>
			</div>
		</div>
	</div>
</header>

<section id="donovan">
		<img src="http://lorempixel.com/900/1100/sports/" alt="">
		<div class="wrapper top">
			<h2>"Follow your passion, be prepared to work hard and sacrafice, and above all, don't let anyone limit your dreams.</h2>
		</div>
		<div class="wrapper bottom">
			<p>Donovan Bailey is a retired canadian sprinter, who once held the world record for the 100 metres.  Track and Field News name Bailey Sprinter of the Decade(90's).  He is  a two time Olympic chmapion, three time world champion, and two time world record holder</p>
		</div>
</section>

<section id="athlete-story">
	<div class="wrapper wrapper--flex">
			<div class="col--two">
				<img src="http://lorempixel.com/400/300/sports/" alt="">
			</div>
			<div class="col--two">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste, ea tempore dolorem non voluptates!</p>
			</div>
			<div class="col--two">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste, ea tempore dolorem non voluptates!</p>
			</div>
			<div class="col--two">
				<img src="http://lorempixel.com/400/300/sports/" alt="">
			</div>
	</div>
</section>

<section id="foundation">
	<div class="wrapper">
		<img src="http://lorempixel.com/400/200/sports/" alt="">
		<h2>The Donovan Bailey Foundation</h2>
		<p>Giving is a reflection of Donovan Baiey's values; values ;that were instilled in him by his parents.  He has always believed that helping others improves your self-worth.  Getting involved with charitable organizations within your community and around the world untimately is good for everyone.</p>
		<div class="wrapper--flex">
			<div class="col--two">
				<img src="http://lorempixel.com/400/200/sports/" alt="">
			</div>
			<div class="col--two">
				<img src="http://lorempixel.com/400/200/sports/" alt="">
			</div>
			<div class="col--two">
				<img src="http://lorempixel.com/400/200/sports/" alt="">
			</div>
			<div class="col--two">
				<img src="http://lorempixel.com/400/200/sports/" alt="">
			</div>
		</div>
	</div>
</section>

<section id="social" >
	<div class="wrapper wrapper--flex tweet-flex">
		<div class="social-element col--five">
			<div class="tweet">
				<p>tweet here</p>
			</div>
		</div>
		<div class="social-element col--five">
			<div class="instagram" style="background-image: url('http://lorempixel.com/200/200/sports/')">
			</div>
		</div>
	</div>
</section>


