/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face{
 font-family: 'DINNextLTBold';
 src: url('fonts/DINNextLTPro-Heavy.otf');
 src: url('fonts/DINNextLTPro-Heavy.otf') format('opentype');
}

@font-face{
 font-family: 'DINNextLT';
 src: url('fonts/DINNextLTPro-Regular.otf');
 src: url('fonts/DINNextLTPro-Regular.otf') format('opentype');
}

@font-face{
 font-family: 'GothamBold';
 src: url('fonts/Gotham-Bold.otf');
 src: url('fonts/Gotham-Bold.otf') format('opentype');
}

@font-face{
 font-family: 'BodonBold';
 src: url('fonts/BauerBodoniStd-Bold.otf');
 src: url('fonts/BauerBodoniStd-Bold.otf') format('opentype');
}

@font-face{
 font-family: 'BodonItal';
 src: url('fonts/BauerBodoniStd-BoldItalic.otf');
 src: url('fonts/BauerBodoniStd-BoldItalic.otf') format('opentype');
}

@import 'variables';
@import 'home';
 .clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } 

